{% extends 'layouts/base.html.twig' %}

{% block title %} {{ 'title.checkoutpage' | trans ({}, 'navigation') }} | {{ parent() }} {% endblock %}

{% block body %}
<div>
    {# Titre de la page #}
    <div class="text-center pt-5">
        {# <h1 class="text-uppercase text-center border-bottom">Shipping address</h1> #}
        <h1 class="text-uppercase text-center border-bottom">
            {{ 'cart.checkout.titlepage' | trans ({}, 'pagecontent') }}
        </h1>
    </div>

    <hr class="mb-4">
    <a class="btn btn-success btn-lg btn-block mb-5" href="{{ path('app_cart_order') }}" type="submit">
        {{ 'cart.checkout.button' | trans ({}, 'pagecontent') }}
    </a>
</div>
{% endblock %}