{% extends 'layouts/base.html.twig' %}

{% block title %} {{ 'title.cartpage' | trans ({}, 'navigation') }} | {{ parent() }} {% endblock %}

{% block body %}

<div>
    {# Titre de la page #}
    <div class="text-center border-bottom border-warning pt-5 mb-2">
        <h1 class="text-uppercase text-center">
            {{ 'cart.titlepage' | trans ({}, 'pagecontent') }}
        </h1>
    </div>

    {# Si le panier n'est pas vide #}
    {% if items|length > 0 %}
    {# nombre de produits dans le panier #}
    <div id="js-cart-quantity">
        {# Ajax: product counter template #}
        {% include 'cart/_quantity.html.twig' %}
    </div>

    {# Bouton pour vider le panier et continuer ses achats #}
    <div class="row justify-content-between mx-0">
        {# Continuer achats #}
        <a class="btn btn-info btn-sm" href="{{ path('app_product_index', {'_fragment': 'anchor-product-start'}) }}">
            <i class="fas fa-chevron-circle-left"></i>
            {{ 'cart.action_link.continue' | trans ({}, 'pagecontent') }}
        </a>
        {# Vider le panier #}
        <a class="btn btn-info btn-sm" href="{{ path('app_cart_clear') }}">
            <i class="fas fa-broom"></i>
            {{ 'cart.action_link.clear' | trans ({}, 'pagecontent') }}
        </a>
    </div>

    {# Tableau des produits dans le panier #}
    <table class="table table-striped table-sm mt-3" id="js_shopping_cart">
        {# Entête du tableau #}
        <thead class="thead-dark">
            <tr>
                <th>
                    {{ 'cart.table_header.product' | trans ({}, 'pagecontent') }}
                </th>
                <th></th>
                <th>
                    {{ 'cart.table_header.price' | trans ({}, 'pagecontent') }}
                </th>
                <th class="text-center">
                    {{ 'cart.table_header.quantity' | trans ({}, 'pagecontent') }}
                </th>
                <th class="text-right">Total</th>
                <th></th>
            </tr>
        </thead>
        {# Corps du tableau: liste des produits #}
        <tbody class="js-tbody-cart-product">
            {# Ajax: cart products template #}
            {% include 'cart/_cartProducts.html.twig' %}
        </tbody>
        {# Calcul du montant total du panier #}
        <tfoot class="text-right">
            <tr style="height:20px;">
            </tr>
            <tr class="table-info">
                <td colspan="4">Total :</td>
                <td id="js-cart-total">
                    {{ total|format_currency('EUR', {fraction_digit: 2}) }}
                </td>
                <td></td>
            </tr>
        </tfoot>
    </table>

    {# Bouton pour continuer la validation du panier #}
    <hr class="mb-4">
    <a class="btn btn-primary btn-lg btn-block mb-5" href="{{ path('app_cart_checkout') }}" type="submit">
        {{ 'cart.button.checkout' | trans ({}, 'pagecontent') }}
    </a>

    {# Sinon : message si le panier est vide #}
    {% else %}
    <div class="alert alert-info text-center" role="alert">
        <p class="h3 text-center mb-0">
            {{ 'cart.no_db_result' | trans ({}, 'pagecontent') }}
        </p>
    </div>
    {% endif %}

</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('cart') }}
{% endblock %}