{% extends 'layouts/base.html.twig' %}

{% block title %} {{ 'title.accountpage.maintitle' | trans ({}, 'navigation') }} | {{ parent() }} {% endblock %}

{% block body %}

{# Titre de la page #}
<div class="text-center border-bottom border-warning pt-5" id="anchor-account">
    <h1 class="text-uppercase text-center">
        {{ 'my_account.titlepage' | trans ({}, 'pagecontent') }}
    </h1>
    <p>
        {{ app.user.firstName }}, {{ 'my_account.welcome' | trans ({}, 'pagecontent') | nl2br }}
    </p>
</div>

{# Affichage de catégories associées au compte #}
<div class="card-deck text-center justify-content-around my-5">
    {# identity #}
    <div class="card col-3">
        <a class="text-decoration-none" href="{{ path('app_account_identity_edit') }}">
            <div class="card-body">
                <h2 class="card-title">
                    <i class="far fa-address-card"></i>
                </h2>
                <p class="card-text">
                    {{ 'my_account.menu.identity' | trans ({}, 'pagecontent') }}
                </p>
            </div>
        </a>
    </div>
    {# address #}
    <div class="card col-3">
        <a class="text-decoration-none"
           href="{{ path('app_account_address_list', {'_fragment': 'anchor-addresses'}) }}">
            <div class="card-body">
                <h2 class="card-title">
                    <i class="fas fa-map-marked-alt"></i>
                </h2>
                <p class="card-text">
                    {{ 'my_account.menu.address' | trans ({}, 'pagecontent') }}
                </p>
            </div>
        </a>
    </div>
    {# orders #}
    <div class="card col-3">
        <a class="text-decoration-none"
           href="{{ path('app_account_order_history', {'_fragment': 'anchor-order-history'}) }}">
            <div class="card-body">
                <h2 class="card-title">
                    <i class="fas fa-file-invoice"></i>
                </h2>
                <p class="card-text">
                    {{ 'my_account.menu.orders' | trans ({}, 'pagecontent') }}
                </p>
            </div>
        </a>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}