{% extends 'layouts/base.html.twig' %}

{% block title %} {{ 'title.loginpage' | trans ({}, 'navigation') }} | {{ parent() }} {% endblock %}

{% block body %}

{# Titre et messages divers de la page du login #}
<div class="text-center py-5">
    {# Titre de la page #}
    <h1 class="text-uppercase border-bottom border-warning pb-2">
        {{ 'login.titlepage' | trans ({}, 'pagecontent') }}
    </h1>

</div>
{# /Titre et messages divers de la page du login #}

<div class="col-md-8 rounded shadow mx-auto py-2 my-4">

    {# Logo du site #}
    <div class="text-center py-4">
        <img src="{{ asset('build/images/default/octopus-logo-form.png') | imagine_filter("squared_thumb_smaller") }}"
             alt="Logo {{ project.name }}">
        <h2 class="h6 text-muted mt-3">
            {{ 'login.titleform' | trans ({}, 'pagecontent') }}
        </h2>
        <hr class="mb-3">
    </div>
    {# /Logo du site #}

    {# Formulaire pour les informations de login #}
    <form method="post">

        {# Affiche un message d'erreur lors d'un mauvais login : pseudo inexistant ou erreur password #}
        {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
        {% endif %}
        {# /Affiche un message d'erreur lors d'un mauvais login : pseudo inexistant ou erreur password #}

        {# Content top #}
        <div id="loginForm">

            {# Input: email #}
            <div class="mb-4">
                <label class="sr-only" for="inputEmail">
                    {{ 'login.form.email' | trans ({}, 'pagecontent') }}
                </label>
                <div class="input-group mr-sm-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
                        </span>
                    </div>

                    <input class="form-control" type="email" value="{{ last_username }}" name="email" id="inputEmail"
                           placeholder="{{ 'login.form.email' | trans ({}, 'pagecontent') }}" required autofocus>
                </div>
            </div>

            {# Input: password #}
            <div class="mb-4">
                <label class="sr-only" for="inputPassword">
                    {{ 'login.form.password' | trans ({}, 'pagecontent') }}
                </label>
                <div class="input-group mr-sm-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                    </div>
                    <input class="form-control" type="password" name="password" id="inputPassword"
                           placeholder="{{ 'login.form.password' | trans ({}, 'pagecontent') }}" required>
                </div>
                {# Link: password forgot #}
                <div class="text-right">
                    <p class="font-weight-light">
                        <small>
                            <a href="{{ path('app_forgot_password_request') }}">
                                {{ 'login.forgotpassword' | trans ({}, 'pagecontent') }}
                            </a>
                        </small>
                    </p>
                </div>
            </div>

            {# Input: hidden csrf token #}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {# Checkbox: remember me #}
            <div class="mb-4">
                <div class="form-group form-check">
                    <input class="form-check-input" type="checkbox" name="_remember_me" id="_remember_me">
                    <label class="form-check-label" for="_remember_me">
                        {{ 'login.form.remember' | trans ({}, 'pagecontent') }}
                    </label>
                </div>
            </div>

            {# Button & link: login & register#}
            <div class="mb-4">
                <button class="btn btn-dark btn-lg btn-block text-uppercase mb-2" type="submit">
                    {{ 'login.form.button' | trans ({}, 'pagecontent') }}
                </button>
                <p class="font-weight-light">
                    <a href="{{ path('app_register') }}">
                        {{ 'login.newuser' | trans ({}, 'pagecontent') }}
                    </a>
                </p>
            </div>

        </div>
        {# /Content top #}

        {# Content separator #}
        <div class="separator">
            <div class="border-separator  text-uppercase text-center my-4" style="line-height:0;">
                <span class="bg-separator vertical-align-bottom text-muted" style="line-height:0;">
                    {{ 'login.separator' | trans ({}, 'pagecontent') }}
                </span>
            </div>
        </div>
        {# Content separator #}


        {# Content bottom #}
        <div id="socialLoginForm">

            <div id="socialLoginList">
                {# Button: Google #}
                <div class="mb-2">
                    <button class="btn btn-secondary btn-lg btn-block is-disabled"
                            aria-describedby="aria-privacy-policy" data-google-button="" type="button">
                        <i class="fab fa-google align-middle text-danger mr-2"></i>
                        <span class="align-middle" data-google-button-icon="" aria-hidden="true">
                            {{ 'login.socialbtn.google' | trans ({}, 'pagecontent') }}
                        </span>
                    </button>
                </div>

                {# Button: Facebook #}
                <div class="mb-2">
                    <button class="btn btn-secondary btn-lg btn-block is-disabled"
                            aria-describedby="aria-privacy-policy" data-facebook-button="" type="button">
                        <i class="fab fa-facebook-square align-middle text-primary mr-2"></i>
                        <span class="align-middle" data-facebook-button-icon="" aria-hidden="true">
                            {{ 'login.socialbtn.facebook' | trans ({}, 'pagecontent') }}
                        </span>
                    </button>
                </div>

                {# Button: Apple #}
                <div class="mb-2">
                    <button class="btn btn-secondary btn-lg btn-block is-disabled"
                            aria-describedby="aria-privacy-policy" data-apple-button="" type="button">
                        <i class="fab fa-apple align-middle text-dark mr-2"></i>
                        <span class="align-middle" data-apple-button-icon="" aria-hidden="true">
                            {{ 'login.socialbtn.apple' | trans ({}, 'pagecontent') }}
                        </span>
                    </button>
                </div>
            </div>

            {# Condition utilisation & confidentialité #}
            <p id="aria-privacy-policy" class="privacy-policy text-muted mt-3">
                {{ 'login.contrat.byclicking' | trans ({}, 'pagecontent') }}                
                <a target="_blank" href="#" title="Conditions d'utilisation">
                    {{ 'login.contrat.terms' | trans ({}, 'pagecontent') }}
                </a>
                {{ 'login.contrat.and' | trans ({}, 'pagecontent') }}
                <a target="_blank" href="#" title="Règlement concernant la  confidentialité">
                    {{ 'login.contrat.policy' | trans ({}, 'pagecontent') }}
                </a>
                {{ 'login.contrat.of' | trans ({}, 'pagecontent') }} {{ project.name }}.
                {{ project.name }} {{ 'login.contrat.preferences' | trans ({}, 'pagecontent') }}
            </p>

        </div>
        {# /Content bottom #}

    </form>
    {# /Formulaire pour les informations de login #}
</div>

{% endblock %}