{% extends 'layouts/base.html.twig' %}

{% block title %}Login | {{ parent() }}{% endblock %}

{% block body %}

{# Titre et messages divers de la page du login #}
<div class="text-center py-5">
    {# Titre de la page #}
    <h1 class="text-uppercase border-bottom border-warning pb-2">Please login to continue</h1>

</div>
{# /Titre et messages divers de la page du login #}

<div class="col-md-8 rounded shadow mx-auto py-2 my-4">

    {# Logo du site #}
    <div class="text-center py-4">
        <img src="{{ asset('build/images/default/octopus-logo-form.png') | imagine_filter("squared_thumb_smaller") }}"
             alt="Logo {{ project.name }}">
        <h2 class="h6 text-muted mt-3">Sign in using email</h2>
        <hr class="mb-3">
    </div>
    {# /Logo du site #}

    {# Formulaire pour les informations de login #}
    <form method="post">

        {# Affiche un message d'erreur lors d'un mauvais login : pseudo inexistant ou erreur password #}
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {# /Affiche un message d'erreur lors d'un mauvais login : pseudo inexistant ou erreur password #}

        {# Content top #}
        <div id="loginForm">

            {# Input: email #}
            <div class="mb-4">
                <label class="sr-only" for="inputEmail">Email</label>
                <div class="input-group mr-sm-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
                        </span>
                    </div>

                    <input class="form-control" type="email" value="{{ last_username }}" name="email" id="inputEmail"
                           placeholder="Your email address" required autofocus>
                </div>
            </div>

            {# Input: password #}
            <div class="mb-4">
                <label class="sr-only" for="inputPassword">Password</label>
                <div class="input-group mr-sm-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                    </div>
                    <input class="form-control" type="password" name="password" id="inputPassword"
                           placeholder="Password" required>
                </div>
                {# Link: password forgot #}
                <div class="text-right">
                    <p class="font-weight-light">
                        <small>
                            <a href="{{ path('app_forgot_password_request') }}">Forgot your password?</a>
                        </small>
                    </p>
                </div>
            </div>

            {# Input: hidden csrf token #}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {# Checkbox: remember me #}
            <div class="mb-4">
                <div class="form-group form-check">
                    <input class="form-check-input" type="checkbox" name="_remember_me" id="_remember_me">
                    <label class="form-check-label" for="_remember_me">
                        Remember me
                    </label>
                </div>
            </div>

            {# Button & link: login & register#}
            <div class="mb-4">
                <button class="btn btn-dark btn-lg btn-block text-uppercase mb-2" type="submit">LOG IN</button>
                <p class="font-weight-light"><a href="{{ path('app_register') }}">Register as a new user</a></p>
            </div>

        </div>
        {# /Content top #}

        {# Content separator #}
        <div class="separator">
            <div class="border-separator text-center my-4" style="line-height:0;">
                <span class="bg-separator vertical-align-bottom text-muted" style="line-height:0;">OR</span>
            </div>
        </div>
        {# Content separator #}


        {# Content bottom #}
        <div id="socialLoginForm">

            <div id="socialLoginList">
                {# Button: Google #}
                <div class="mb-2">
                    <button class="btn btn-secondary btn-lg btn-block is-disabled"
                            aria-describedby="aria-privacy-policy" data-google-button="" type="button">
                        <i class="fab fa-google align-middle text-danger mr-2"></i>
                        <span class="align-middle" data-google-button-icon="" aria-hidden="true">
                            Continue with Google
                        </span>
                    </button>
                </div>

                {# Button: Facebook #}
                <div class="mb-2">
                    <button class="btn btn-secondary btn-lg btn-block is-disabled"
                            aria-describedby="aria-privacy-policy" data-facebook-button="" type="button">
                        <i class="fab fa-facebook-square align-middle text-primary mr-2"></i>
                        <span class="align-middle" data-facebook-button-icon="" aria-hidden="true">
                            Continue with Facebook
                        </span>
                    </button>
                </div>

                {# Button: Apple #}
                <div class="mb-2">
                    <button class="btn btn-secondary btn-lg btn-block is-disabled"
                            aria-describedby="aria-privacy-policy" data-apple-button="" type="button">
                        <i class="fab fa-apple align-middle text-dark mr-2"></i>
                        <span class="align-middle" data-apple-button-icon="" aria-hidden="true">
                            Continue with Apple
                        </span>
                    </button>
                </div>
            </div>

            {# Condition utilisation & confidentialité #}
            <p id="aria-privacy-policy" class="privacy-policy text-muted mt-3">
                By clicking Sign In or Continue with Google, Facebook or Apple, you agree to
                {{ project.name }}'s
                <a target="_blank" href="#" title="Conditions d'utilisation">
                    Terms of Use
                </a>
                and
                <a target="_blank" href="#" title="Règlement concernant la  confidentialité">
                    Privacy Policy
                </a>
                . {{ project.name }} may send you messages; you can change your preferences in your account
                settings. We will never post without your
                permission.
            </p>

        </div>
        {# /Content bottom #}

    </form>
    {# /Formulaire pour les informations de login #}
</div>

{% endblock %}