{% extends 'layouts/base.html.twig' %}

{% block title %} {{ 'title.registerpage' | trans ({}, 'navigation') }} | {{ parent() }} {% endblock %}

{% block body %}

<!-- Titre et messages divers de la page de création de compte -->
<div class="text-center">
    {% for flashError in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1 class="text-uppercase border-bottom border-warning my-4">Register</h1>
</div>
<!-- /Titre et messages divers de la page de création de compte -->

<div class="col-md-6 rounded shadow mx-auto py-2 my-4">
    <!-- Logo du site -->
    <div class="text-center py-4">
        <img src="{{ asset('build/images/default/octopus-logo-form.png') | imagine_filter("squared_thumb_smaller") }}"
             alt="Logo {{ project.name }}">
    </div>
    <!-- /Logo du site -->

    {{ form_start(registrationForm) }}

    {{ form_row(registrationForm.firstName) }}

    {{ form_row(registrationForm.lastName) }}

    {{ form_row(registrationForm.email) }}

    {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

    {{ form_row(registrationForm.agreeTerms) }}

    <!-- Button: send reset email -->
    <div class="mb-3">
        <button type="submit" class="btn btn-dark btn-lg btn-block">Register</button>
    </div>

    {{ form_end(registrationForm) }}
</div>

{% endblock %}

{% block javascripts %}
{{ parent()}}

{% endblock %}