{% extends 'layouts/base.html.twig' %}

{% block title %} {{ 'title.resetpage.reset' | trans ({}, 'navigation') }} | TDO {% endblock %}

{% block body %}

<!-- Titre de la page reset password -->
<div class="text-center">
    <h1 class="text-uppercase border-bottom border-warning my-4">
        {{ 'reset_password.title_reset_page' | trans ({}, 'pagecontent') }}
    </h1>
</div>

<div class="col-md-6 mx-auto py-2 my-4">
    <!-- Logo du site -->
    <div class="text-center py-4">
        <img src="{{ asset('build/images/default/octopus-logo-form.png') | imagine_filter("squared_thumb_smaller") }}"
             alt="Logo {{ project.name }}">
    </div>
    <!-- /Logo du site -->

    {{ form_start(resetForm) }}
    {{ form_row(resetForm.plainPassword) }}
    <button class="btn btn-dark">
        {{ 'reset_password.reset_button' | trans ({}, 'pagecontent') }}
    </button>
    {{ form_end(resetForm) }}

</div>
    
{% endblock %}
