<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

    <head>
        {# Default meta tags #}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Franck Jakubowski">
        <meta name="description"
              content="Un site e-commerce qui permet d'afficher les produits en fonction du filtre de recherche. de se connecter ou créér un compte. De remplir un panier et passer commande. De consulter son historique de commande et d'afficher ses facture au format PDF. Permet d'administrer les produits.">
        {#  Favicons #}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('favicon/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        {# Title #}
        <title>{% block title %} {{ project.name }} {% endblock %}</title>

        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

        {% endblock %}
    </head>

    <body id="{% block body_id %}{% endblock %}" class="page-container">

        <header>
            {% block header %}
            {# Navbar import #}
            {{ include('layouts/partials/_nav.html.twig') }}

            {# Adding a banner when impersonating someone else #}
            {% if is_granted('IS_IMPERSONATOR') %}
            <div class="w-100 switch-user">
                <div class="alert alert-warning">
                    You are currently switched to this user.
                    <a href="{{ path('app_home', {'_switch_user': '_exit'}) }}">Exit Impersonation</a>
                </div>
            </div>
            {% endif %}

            {# Header background #}
            {{ include('layouts/partials/_header-bg.html.twig') }}
            {% endblock %}
        </header>

        {# Message flash area #}
        {{ include('layouts/partials/_flash_messages.html.twig') }}
        {# /Message flash area #}

        <main role="main" class="{{ (app.request.get('_route') == 'app_home') ? '' : 'container' }}">
            {% block body %}{% endblock %}
        </main>

        {% block footer %}
        <footer class="pt-3">
            {# footer import #}
            {{ include('layouts/partials/_footer.html.twig') }}
            {# /footer import #}
        </footer>
        {% endblock %}

        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

        {% endblock %}

    </body>

</html>