<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

    <head>
        <!-- default meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Franck Jakubowski">
        <meta name="description"
              content="Un mini site pour administrer des produits et permettre un affichage suivant des filtres.">
        <!-- /default meta tags -->
        <!--  favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('favicon/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <title>{% block title %} TDO {% endblock %}</title>

        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

        <!-- font awesome stylesheet -->
        {#<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"
                integrity="sha512-M+hXwltZ3+0nFQJiVke7pqXY7VdtWW2jVG31zrml+eteTP7im25FdwtLhIBTWkaHRQyPrhO2uy8glLMHZzhFog=="
                crossorigin="anonymous"></script>#}

        {% endblock %}

    </head>

    <body>

        {% block header %}
            <header>
                <!-- navbar import -->
                {{ include('layouts/partials/_header.html.twig') }}
                <!-- /navbar import -->

                <!-- Message flash area -->
                {{ include('layouts/partials/_flash_messages.html.twig') }}
                <!-- /Message flash area -->
            </header>
        {% endblock %}
        
        <main role="main" class="container">
            {% block body %}{% endblock %}
        </main>

        {% block footer %}
            <footer class="p-3 text-center">
                <!-- footer import -->
                {{ include('layouts/partials/_footer.html.twig') }}
                <!-- /footer import -->
            </footer>
        {% endblock %}        

        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        
        {% endblock %}

    </body>

</html>