{% extends 'layouts/base.html.twig' %}

{% block title %} {{ 'title.accountpage.menu.address_update' | trans ({}, 'navigation') }} | {{ parent() }} {% endblock %}

{% block body %}

{# Titre de la page #}
<div class="text-center border-bottom border-warning pt-5">
    <h1 class="text-uppercase text-center">
        {{ 'my_account.address.update.title' | trans ({}, 'pagecontent') }}
    </h1>
</div>

{# Boutton retour page principale des adresses #}
<div class="text-center mt-3">
    <a class="btn btn-info btn-sm" href="{{ path('app_account_address_list') }}">
        <i class="fas fa-chevron-circle-left"></i>
        {{ 'my_account.action_link.back_to' | trans ({}, 'pagecontent') }}
    </a>
</div>

{# Formulaire pour les informations de la nouvelle adresse #}
<div class="col-md-8 rounded shadow mx-auto py-2 my-4">
    {# Logo du site #}
    <div class="text-center py-4">
        <img src="{{ asset('build/images/default/octopus-logo-form.png') | imagine_filter("squared_thumb_smaller") }}"
             alt="Logo {{ project.name }}">
    </div>
    {# /Logo du site #}

    {# Import du formulaire #}
    {% include 'account/form/_address.html.twig' with {
        'submitButtonText': 'my_account.address.form.buttons.update' | trans ({}, 'pagecontent') } %}
</div>

{% endblock %}