<!-- navbar -->
{% if is_granted('ROLE_ADMIN') %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top py-0">
    {% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom-navbar shadow fixed-top py-0">
        {% endif %}
        <div class="container">
            <!-- navbar brand & logo -->
            <a class="navbar-brand text-uppercase" href="{{ path('app_home') }}">
                <img class="d-inline-block align-center"
                     src="{{ asset('build/images/header/octopus-logo.png') | imagine_filter("squared_thumb_xsmall") }}"
                     alt="Logo {{ project.name }}">
                {{ project.name }}
            </a>
            <!-- /navbar brand & logo -->

            <!-- collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- /collapse button -->

            <!-- collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left side of the navigation bar -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {{ set_active_route('app_product_index') }}">
                        <a class="nav-link" href="{{ path('app_product_index') }}">Products</a>
                    </li>
                    <!-- this link is only visible to an admin -->
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item {{ set_active_route('app_admin_dashboard') }}">
                        <a class="nav-link" href="{{ path('app_admin_dashboard') }}">GodMod</a>
                    </li>
                    {% endif %}
                </ul>
                <!-- /Left side of the navigation bar -->

                <!-- /Right side of the navigation bar -->
                <ul class="navbar-nav justify-content-end">
                    <!-- the links are only visible to a authenticated user -->
                    {% if is_granted('ROLE_USER') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle" id="navbarDropdownMenuAccount" role="button"
                           data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-circle"></i>
                            <span class="ml-2">{{ app.user.firstName }} {{ app.user.lastName }}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right user-account-connected"
                             aria-labelledby="navbarDropdownMenuAccount">
                            <a class="dropdown-item" href="{{ path('app_user_account') }}">
                                <i class="fas fa-user-edit  mr-2" aria-hidden="true"></i>
                                Profile
                                </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">
                                <i class="fas fa-door-open mr-2" aria-hidden="true"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_login') }}">
                            <i class="far fa-user" aria-hidden="true"></i>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <!-- affiche un lien vers le panier avec le nombre de produits ajoutes -->
                        <a class="nav-link text-white" href="{{ path('app_cart_index') }}" disabled>
                            <i class="fas fa-shopping-cart"></i>
                            <span class="badge badge-light badge-pill cart-badge-top-right">
                                0
                            </span>
                        </a>
                        <!-- /Right side of the navigation bar -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- /navbar -->