<!-- navbar -->
{% if is_granted('ROLE_ADMIN') %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top py-0">
    {% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom-navbar shadow fixed-top py-0">
        {% endif %}
        <div class="container">
            <!-- navbar brand & logo -->
            <a class="navbar-brand text-uppercase" href="{{ path('app_home') }}">
                <img class="d-inline-block align-center"
                     src="{{ asset('build/images/header/octopus-logo.png') | imagine_filter("squared_thumb_xsmall") }}"
                     alt="Logo {{ project.name }}">
                {{ project.name }}
            </a>
            <!-- /navbar brand & logo -->

            <!-- collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- /collapse button -->

            <!-- collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left side of the navigation bar -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {{ set_active_route('app_product_index') }}">
                        <a class="nav-link" href="{{ path('app_product_index') }}">Products</a>
                    </li>
                    <!-- this link is only visible to an admin -->
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item {{ set_active_route('app_admin_dashboard') }}">
                        <a class="nav-link" href="{{ path('app_admin_dashboard') }}">GodMod</a>
                    </li>
                    {% endif %}
                </ul>
                <!-- /Left side of the navigation bar -->

                <!-- /Right side of the navigation bar -->
                <ul class="navbar-nav ml-auto">
                    <!-- the links are only visible to a authenticated user -->
                    {% if is_granted('ROLE_USER') %}
                    <div class="nav-item dropdown">
                        <button class="btn text-white dropdown-toggle btn-account-connected" id="navbarDropdownMenuLink"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{ asset('build/images/header/default-user-image.svg') }}"
                                 alt="Default User Account Image">
                            <span class="">{{ app.user.firstName }} {{ app.user.lastName }}</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('app_user_account') }}"><i class="fas fa-user-edit"
                                   aria-hidden="true"></i> Profile</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-user-slash"
                                   aria-hidden="true"></i> Logout</a>
                        </div>
                    </div>
                    {% else %}
                    <li class="nav-item {{ set_active_route('app_login') }}">
                        <a class="nav-link" href="{{ path('app_login') }}">
                            <i class="far fa-user" aria-hidden="true"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <!-- affiche un lien vers le panier avec le nombre de produits ajoutes -->
                <a class="btn btn-outline-success my-2 my-sm-0" href="{{ path('app_cart_index') }}"><i
                       class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <strong>
                        <span class="badge badge-light badge-pill">
                            0
                        </span>
                    </strong>
                </a>
                <!-- /Right side of the navigation bar -->
            </div>
        </div>
    </nav>
    <!-- /navbar -->