{% extends 'layouts/base.html.twig' %}

{% block title %} {{ 'title.checkoutpage.choose' | trans ({}, 'navigation') }} | {{ parent() }} {% endblock %}

{% block body %}

{# Titre de la page #}
<div class="text-center border-bottom border-warning pt-5">
    <h1 class="text-uppercase text-center">
        {{ 'cart.checkout.titlepage' | trans ({}, 'pagecontent') }}
    </h1>
    <p>
        {{ 'cart.checkout.subtitle' | trans ({}, 'pagecontent') }}
    </p>
</div>

{# Boutton retour my account #}
<div class="text-center mt-3" id="anchor-addresses">
    <a class="btn btn-info btn-sm" href="{{ path('app_cart_index') }}">
        <i class="fas fa-chevron-circle-left"></i>
        {{ 'cart.checkout.buttons.back_to' | trans ({}, 'pagecontent') }}
    </a>
</div>

{# Block pour afficher la liste des adresses associées à l'utilisateur connecté #}
<div class="my-5">
    {# Titre du block #}
    <h2 class="h6 mb-4">
        {{ 'cart.checkout.information' | trans ({}, 'pagecontent') }}
    </h2>

    {# Import: addresses list template #}
    <div class="row row-cols-1 row-cols-md-3 mb-2">
        {% include 'cart/address/_addresses_choice.html.twig' %}
    </div>
</div>

{% endblock %}