<div class="col mb-4">
    <div class="card h-100 bg-white rounded shadow pin">
        {# Image du produit animée au survol de la souris #}
        <div class="mw-100 overflow-hidden">
            <a href="{{ path('app_product_show', {slug: product.slug, id: product.id}) }}">
                <img src="{{ vich_uploader_asset(product) }}" class="card-img-top"
                     alt="Image of {{product.title}} Pin">
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.price  }}</p>
            <a href="#" class="btn btn-warning btn-lg btn-block">Ajouter au panier</a>
        </div>
    </div>
</div>