{% extends 'layouts/base.html.twig' %}

{% block title %} {{ 'title.productspage' | trans ({}, 'navigation') }} | {{ parent() }} {% endblock %}

{% block body %}
<div class="js-filter">

    {# Titre de la page #}
    <div class="text-center border-bottom border-warning pt-5 mb-2">
        <h1 class="text-uppercase text-center pb-2" id="anchor-product-start">
            {{ 'products.titlepage' | trans ({}, 'pagecontent') }}
        </h1>
    </div>

    {# Liste des produits et filtre de recherche #}
    <div class="row">

        {# Section du filtre #}
        <div class="col-12 col-sm-3 col-md-3 my-3">
            {# Titre de la section #}
            <h4 class="text-left bg-info pl-2 py-2">
                <i class="fas fa-sliders-h"></i>
                {{ 'products.filters.title' | trans ({}, 'pagecontent') }}
            </h4>

            {# Import du template assocée à formulaire de recherche #}
            {% include 'product/_filter.html.twig' with {form: form} only %}

        </div>
        {# /Section filtre #}

        {# Section des produits #}
        <div class="col-12 col-sm-9 col-md-9 mt-3">

            {# Si il y a des produits #}
            {% if products|length > 0 %}

            {# Titre de la section et nombre de résultat #}
            <div>
                <h4 class="text-left pl-2 py-2">
                    {{ 'products.result.title' | trans ({}, 'pagecontent') }}
                </h4>
                {# Ajax: result filter template #}
                {% include 'product/filter/_result.html.twig' %}
            </div>

            {# pagination sortable filter #}
            <div class="d-flex justify-content-end align-self-end js-filter-sorting">
                {# Ajax: sorting filter template #}
                {% include 'product/filter/_sorting.html.twig' %}

            </div>

            {# Affiche les produits filtrés #}
            <div class="row mt-3 js-filter-content">
                {# Ajax: products filter template #}
                {% include 'product/filter/_products.html.twig' %}
            </div>

            {# Affiche la navigation de pagination #}
            <div class="navigation js-filter-pagination mt-4">
                {# Ajax: pagination filter template #}
                {% include 'product/filter/_pagination.html.twig' %}

            </div>

            {# Sinon : message du panier vide #}
            {% else %}
            <div class="alert alert-info text-center" role="alert">
                <p class="h3 text-center mb-0">
                    {{ 'products.no_db_result' | trans ({}, 'pagecontent') }}
                </p>
            </div>

            {% endif %}
        </div>
        {# /Section des produits #}

    </div>

</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('filter') }}
{% endblock %}