{% extends 'layouts/base.html.twig' %}

{% block title %} {{ 'title.productspage' | trans ({}, 'navigation') }} | {{ parent() }} {% endblock %}

{% block body %}
<div class="js-filter">

    {# Titre de la page #}
    <div class="text-center py-5">
        <h1 class="text-uppercase text-center border-bottom border-warning pb-2" id="anchor-product-start">
            Products
        </h1>
    </div>

    {# Liste des produits et filtre de recherche #}
    <div class="row">

        {# Section du filtre #}
        <div class="col-12 col-sm-3 col-md-3 my-3">
            {# Titre de la section #}
            <h4 class="text-left bg-info pl-2 py-2">
                <i class="fas fa-sliders-h"></i>
                Filters
            </h4>
            {# Import du template assocée à formulaire de recherche #}
            {% include 'product/_filter.html.twig' with {form: form} only %}
            {# Bouton pour filtrer #}
            <a class="btn btn-primary w-100 js-filter-reset" href="{{ path('app_product_index') }}" role="button">Reset
                filtrer</a>
        </div>
        {# /Section filtre #}

        {# Section des produits #}
        <div class="col-sm-9 col-md-9 mt-3">

            {# Si il y a des produits #}
            {% if products|length > 0 %}

            <div class="row justify-content-between pr-3">
                <div>
                    {# Titre de la section et nombre de résultat #}
                    <h4 class="text-left pl-2 py-2">The fizzy ones</h4>
                    {# Ajax: result filter template #}
                    {% include 'product/filter/_result.html.twig' %}

                </div>
                {# pagination sortable filter #}
                <div class="d-flex justify-content-end align-self-end js-filter-sorting">
                    {# Ajax: sorting filter template #}
                    {% include 'product/filter/_sorting.html.twig' %}

                </div>
            </div>

            <div class="row mt-3 js-filter-content">
                {# Ajax: products filter template #}
                {% include 'product/filter/_products.html.twig' %}

            </div>

            {# Affiche la navigation de pagination #}
            <div class="navigation js-filter-pagination mt-4">
                {# Ajax: pagination filter template #}
                {% include 'product/filter/_pagination.html.twig' %}

            </div>

            {% else %}

                <div class="alert alert-info text-center" role="alert">
                    <p class="h3 text-center mb-0">No products yet.</p>
                </div>

            {% endif %}
        </div>
        {# /Section des produits #}

    </div>

</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('filter') }}
{% endblock %}