{% extends 'layouts/base.html.twig' %}

{% block title %} {{ product.title }} | {{ parent() }} {% endblock %}

{# application d'un style particulier au body de la détails du produit #}
{% block body_id 'showproduct' %}

{% block body %}

{# Titre de la page #}
<div class="text-center border-bottom border-warning pt-5">
    <h1 class="text-uppercase text-center">
        {{ product.title }}
    </h1>
</div>

<div class="row">
    {# Product information#}
    <div class="col-md-8 order-md-1 my-5">
        {# Image du produit #}
        <div class="mw-100 overflow-hidden mb-5">
            <img class="img-fluid img-thumbnail" src="{{ vich_uploader_asset(product) }}"
                 alt="Image of {{product.title}}">
        </div>
        {# Presentation du produit #}
        <div class="mb-5">
            {{ product.description |raw }}
        </div>
        {# Caractéristique du produit #}
        <div>
            <h3>
                {{ 'show_product.features.title' | trans ({}, 'pagecontent') }}
            </h3>
        </div>
        <div class="card-deck mt-3">
            {# Couleur #}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="far fa-eye"></i>
                    </h5>
                    <p class="card-text">
                        {{ 'show_product.features.visual' | trans ({}, 'pagecontent') }}
                    </p>
                    <p class="card-text">
                        {{ product.color }}
                    </p>
                </div>
            </div>
            {# Amertume #}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-pepper-hot"></i>
                    </h5>
                    <p class="card-text">
                        {{ 'show_product.features.bitterness' | trans ({}, 'pagecontent') }}
                    </p>
                    <p class="card-text">
                        {{ product.ibu }}
                    </p>
                </div>
            </div>
            {# Alcool #}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-temperature-high"></i>
                    </h5>
                    <p class="card-text">
                        {{ 'show_product.features.alcohol' | trans ({}, 'pagecontent') }}
                    </p>
                    <p class="card-text">
                        {{ product.alcohol }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    {# Product action #}
    <div class="col-md-4 order-md-2 my-5">
        {# Card ajout au panier#}
        <div class="card">
            {# Prix du produit#}
            <div class="card-header h4">
                {{ product.price|format_currency('EUR', {fraction_digit: 2}) }}
            </div>

            {# Formulaire por ajouter la quantité du produit au panier #}
            <div class="card-body">                
                <form action="{{ path('app_cart_add', {id: product.id}) }}" method="POST">
                    <div class="row justify-content-between mx-0">
                        <label class="mb-0" for="quantity">
                            {{ 'show_product.form.label' | trans ({}, 'pagecontent') }}
                        </label>
                        {# modificateur de quantité#}
                        <div class="quantity-input">
                            <button class="btn btn-danger btn-sm py-0" type="button"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                <span aria-hidden="true">−</span>
                            </button>
                            <input class="text-center my-0" type="number" name="quantity"
                                   id="quantity" value="1" min="1" max="" data-id={{ product.id }}
                                   aria-label="quantity">
                            <button class=" btn btn-success btn-sm py-0" type="button"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                <span aria-hidden="true">+</span>
                            </button>
                        </div>
                    </div>
                    {# Bouton pour ajouter au panier #}
                    <div>
                        <button class="btn btn-light btn-lg btn-block js-product-add mt-3" type="submit" name="add" {{ available_or_sold_out(product) }}>
                            {% if product.quantity == 0 %}
                                <span>
                                    {{ 'show_product.form.buttons.outOfStock' | trans ({}, 'pagecontent') }}
                                </span>
                            {% else %}
                                <span>
                                    {{ 'show_product.form.buttons.add' | trans ({}, 'pagecontent') }}
                                </span>
                            {% endif %}
                            
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}