{% extends 'layouts/base.html.twig' %}

{% block title %} {{ 'title.accountpage.menu.order_detail' | trans ({}, 'navigation') }} | {{ parent() }} {% endblock %}

{% block body %}

{# Titre de la page #}
<div class="text-center border-bottom border-warning pt-5">
    <h1 class="text-uppercase text-center">
        {{ 'my_account.orders.detail_page.title' | trans ({}, 'pagecontent') }}
        n°
        {{ orderId }}
    </h1>
    <p>
        {{ 'my_account.orders.detail_page.date' | trans ({}, 'pagecontent') }}
        <time datetime="{{ date|date('d-m-Y') }}">
            {{ date|date('d-m-Y') }}
        </time>
    </p>
</div>

{# Boutton retour order history #}
<div class="text-center mt-3">
    <a class="btn btn-info btn-sm" href="{{ path('app_account_order_history', {id: app.user.id}) }}">
        <i class="fas fa-chevron-circle-left"></i>
        {{ 'my_account.orders.detail_page.action_link.back_to' | trans ({}, 'pagecontent') }}
    </a>
</div>

{# Block pour afficher la liste des produits associés à la commande #}
<div>
    {# Tableau des produits dans le panier #}
    <table class="table table-striped mt-3">
        {# Entête du tableau #}
        <thead class="thead-dark">
            <tr>
                <th>
                    {{ 'my_account.orders.detail_page.table_header.product' | trans ({}, 'pagecontent') }}
                </th>
                <th></th>
                <th class="text-center">
                    {{ 'my_account.orders.detail_page.table_header.quantity' | trans ({}, 'pagecontent') }}
                </th>
                <th class="text-right">Total</th>
            </tr>
        </thead>
        {# Corps du tableau: liste des produits #}
        <tbody>
            {# Import: purchased products template #}
            {% include 'account/orders/_purchasedProducts.html.twig' %}
        </tbody>
        {# Calcul du montant total du panier #}
        <tfoot class="text-right">
            <tr style="height:20px;">
            </tr>
            <tr class="table-info">
                <td colspan="3">Total :</td>
                <td id="js-cart-total">
                    {#{ total|format_currency('EUR', {fraction_digit: 2}) }#}
                </td>
            </tr>
        </tfoot>
    </table>

</div>

{% endblock %}