<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

    <head>
        {# Default meta tags #}
        <meta charset="UTF-8">
        {# Title #}
        <title>
            {% block title %}
            {{ 'title.accountpage.menu.order_pdf' | trans ({}, 'navigation') }} | {{ project.name }}
            {% endblock %}
        </title>

        {% block stylesheets %}
        {# href="{{ absolute_url(asset('build/app.css'))[1:] }}" #}
        <link rel="stylesheet" href="{{ asset('build/pdf.css')[1:] }}">
        {% endblock %}
    </head>

    <body>
        {# Layout for PDF files #}
        <div>
            {# Header : logo and information #}
            <header>
                <div>
                    {# Header logo #}
                    <div class="left pl-2">
                        {# uncomment the line ;extension=gd2 in the php.in file #}
                        <img src="{{ asset('build/images/default/octopus-logo-form.png')[1:] }}" height="200"
                             alt="{{ project.name }} logo">
                    </div>

                    {# Invoice information #}
                    <div class="right">
                        <h3 class="text-uppercase mb-0">
                            {{ 'my_account.orders.pdf_page.invoice' | trans ({}, 'pagecontent') }}
                        </h3>
                        <p class="text-muted mt-0">
                            {{ purchaseOrder.createdAt|date('d-m-Y') }}
                            <br>
                            {{ invoice_number }}
                        </p>
                    </div>
                </div>
            </header>

            <br class="clear">

            {# Adresses: livraison & facturation #}
            <table class="right mb-4" id="table-address">
                <tbody>
                    <tr>
                        {# Adresse de livraison #}
                        <td class="pl-2">
                            <h4 class="address_header">
                                {{ 'my_account.orders.detail_page.address.shipping' | trans ({}, 'pagecontent') }}
                            </h4>
                            <div>
                                {# Adresse #}
                                <p class="my-0">
                                    {{ shipping_address.address }}
                                </p>
                                {# Complément adresse #}
                                <p class="my-0">
                                    {{ shipping_address.address2 }}
                                </p>
                                {# Code postal & ville #}
                                <p class="my-0">
                                    {{ shipping_address.zipcode }} {{ shipping_address.city }}
                                </p>
                                {# Pays #}
                                <p class="my-0">
                                    {{ shipping_address.country }}
                                </p>
                            </div>
                        </td>
                        {# Adresse de facturation #}
                        <td class="pl-2">
                            <h4 class="address_header">
                                {{ 'my_account.orders.detail_page.address.billing' | trans ({}, 'pagecontent') }}
                            </h4>
                            <div>
                                {# Adresse #}
                                <p class="my-0">
                                    {{ shipping_address.address }}
                                </p>
                                {# Complément adresse #}
                                <p class="my-0">
                                    {{ shipping_address.address2 }}
                                </p>
                                {# Code postal & ville #}
                                <p class="my-0">
                                    {{ shipping_address.zipcode }} {{ shipping_address.city }}
                                </p>
                                {# Pays #}
                                <p class="my-0">
                                    {{ shipping_address.country }}
                                </p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            {# Information reminder #}
            <table class="clear" id="table-product">
                {# Entête du tableau #}
                <thead class="thead-dark">
                    <tr>
                        <th>
                            {{ 'my_account.orders.pdf_page.table_info.invoice_num' | trans ({}, 'pagecontent') }}
                        </th>
                        <th>
                            {{ 'my_account.orders.pdf_page.table_info.invoice_date' | trans ({}, 'pagecontent') }}
                        </th>
                        <th>
                            {{ 'my_account.orders.pdf_page.table_info.order_num' | trans ({}, 'pagecontent') }}
                        </th>
                        <th>
                            {{ 'my_account.orders.pdf_page.table_info.order_date' | trans ({}, 'pagecontent') }}
                        </th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td>
                            {{ invoice_number }}
                        </td>
                        <td>
                            <time datetime="{{ purchaseOrder.createdAt|date('d-m-Y') }}">
                                {{ purchaseOrder.createdAt|date('d-m-Y') }}
                            </time>
                        </td>
                        <td>
                            {{ purchaseOrder.id }}
                        </td>
                        <td>
                            <time datetime="{{ purchaseOrder.createdAt|date('d-m-Y') }}">
                                {{ purchaseOrder.createdAt|date('d-m-Y') }}
                            </time>
                        </td>
                    </tr>
                </tbody>
            </table>

            <br>
            <br>

            {# Tableau des produits dans le panier #}
            <table class="table-striped" id="table-product">
                {# Entête du tableau #}
                <thead class="thead-dark">
                    <tr>
                        <th>
                            {{ 'my_account.orders.detail_page.table_header.product' | trans ({}, 'pagecontent') }}
                        </th>
                        <th></th>
                        <th class="text-center">
                            {{ 'my_account.orders.detail_page.table_header.quantity' | trans ({}, 'pagecontent') }}
                        </th>
                        <th class="text-right">
                            Total
                        </th>
                    </tr>
                </thead>
                {# Corps du tableau: liste des produits #}
                <tbody>
                    {# Import: purchased products template #}
                    {% include 'pdf/_invoiceProducts.html.twig' %}
                </tbody>
                {# Calcul du montant total du panier #}
                <tfoot class="text-right">
                    {# Total HT des produits #}
                    <tr class="font-weight-bold">
                        <td colspan="3">
                            {{ 'my_account.orders.detail_page.table_footer.ht' | trans ({}, 'pagecontent') }}
                        </td>
                        <td>
                            {{ total_ht |format_currency('EUR', {fraction_digit: 2}) }}
                        </td>
                    </tr>
                    {# Total de la TVA #}
                    <tr class="font-weight-light">
                        <td colspan="3">
                            {{ 'my_account.orders.detail_page.table_footer.tva' | trans ({}, 'pagecontent') }}
                        </td>
                        <td>
                            {{ tva |format_currency('EUR', {fraction_digit: 2}) }}
                        </td>
                    </tr>
                    {# Montant de la livraison #}
                    <tr class="font-weight-light">
                        <td colspan="3">
                            {{ 'my_account.orders.detail_page.table_footer.delivery' | trans ({}, 'pagecontent') }}
                        </td>
                        <td>
                            <small class="text-success">
                                {{ 'my_account.orders.detail_page.table_footer.delivery_fee' | trans ({}, 'pagecontent') }}
                            </small>
                        </td>
                    </tr>
                    {# Total TTC : tva + shipping #}
                    <tr class="font-weight-bold">
                        <td colspan="3">
                            {{ 'my_account.orders.detail_page.table_footer.total' | trans ({}, 'pagecontent') }}
                        </td>
                        <td>
                            {{ total_ttc |format_currency('EUR', {fraction_digit: 2}) }}
                        </td>
                    </tr>
                </tfoot>
            </table>

            <hr>
            <br>

        </div>
        {# Layout for PDF files #}
    </body>

    {% block javascripts %}
    {% endblock %}

</html>