{{ form_start(form) }}

<!-- champ availability -->
<div class="form-group">
    {{ form_row(form.availability) }}
</div>

<div class="row">
    <!-- Champ titre -->
    <div class="form-group col-md-6">
        {{ form_row(form.title) }}
    </div>
    <!-- champ color -->
    <div class="form-group col-md-6">
        {{ form_row(form.color) }}
    </div>
</div>

<div class="row">
    <!-- champ ibu -->
    <div class="form-group col-md-2">
        {{ form_row(form.ibu) }}
    </div>

    <!-- champ alcohol -->
    <div class="form-group col-md-2">
        {{ form_row(form.alcohol) }}
    </div>

    <!-- champ price -->
    <div class="form-group col-md-2">
        {{ form_row(form.price) }}
    </div>
    <!-- champ quantity -->
    <div class="form-group col-md-2">
        {{ form_row(form.quantity) }}
    </div>
</div>

<!-- champ style -->
<div class="form-group">
    {{ form_row(form.style) }}
</div>

<!-- champ description -->
<div class="form-group">
    {{ form_row(form.description) }}
</div>

{# <input class="btn btn-primary" type="submit" value="{{ submitButtonText|default('Create Pin') }}"> #}
{# desactivation de la validation HTML5 avec "formnovalidate" #}
<input class="btn btn-primary btn-block" type="submit" value="{{ submitButtonText ?? ('Create Product') }}"
       formnovalidate>

{{ form_end(form) }}